.flex{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.case{
    border: 1px solid black;
    width: 33.33%;
    height: 250px;
}

.firstcolumn{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top{
    border-top: none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.bottom{
    border-bottom: none;
}