.flex{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    ali
}

.case{
    border: 1px solid black;
    width: 33.33%;
    height: 250px;
}

.firstcolumn{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top{
    border-top: none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.bottom{
    border-bottom: none;
}

@media (max-width: 1000px) {
    .case {
      height: 200px;
      
    }
    .flex{
        margin-top: 100px;
        width: 70%;
    }
  }

div{
    font-family: 'Permanent Marker', cursive;
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}